[submodule "tools/splat"]
	path = tools/splat
	url = https://github.com/ethteck/splat

[submodule "tools/m2ctx"]
	path = tools/m2ctx
	url = https://github.com/ethteck/m2ctx
[submodule "tools/decomp-permuter"]
	path = tools/decomp-permuter
	url = https://github.com/simonlindholm/decomp-permuter
